.spacer {
  flex: 1 1 auto;
}

.app-title {
  margin-left: 8px;
  font-size: 20px;
  
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.menu-button {
  @media (min-width: 769px) {
    margin-right: 8px;
  }
}

.user-menu {
  margin-left: 8px;
}

:host {
  mat-toolbar {
    background-color: var(--touch-primary);
    color: var(--touch-white);
  }

  .mat-icon-button {
    color: var(--touch-white);
  }
} 