.sidenav-container {
  height: 100vh;
  
  .sidenav {
    width: 250px;
    
    @media (max-width: 599px) {
      width: 100%;
    }
  }

  .main-content {
    padding: 20px;
    
    @media (max-width: 599px) {
      padding: 10px;
    }
  }
}

::ng-deep {
  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0, 0, 0, 0.6);
  }
} 